/target
radiohw/*.log
radiohw/*.xml
radiohw/*.html
radiohw/.*
radiohw/impl_1/*
radiohw/pcie_1x/testbench/*
radiohw/radiohw_tcr.dir/*
radiohw/radiosim/*.log
radiohw/radiosim/*.f
radiohw/radiosim/*.sort
radiohw/radiosim/*.tops
radiohw/radiosim/*.lst
android2/target/*
bluetooth/target