[submodule "radiohw/USB_C_Industrial_Camera_FPGA_USB3"]
	path = radiohw/USB_C_Industrial_Camera_FPGA_USB3
	url = https://github.com/circuitvalley/USB_C_Industrial_Camera_FPGA_USB3.git
[submodule "radiohw/SV_I2S_RX_CORE"]
	path = radiohw/SV_I2S_RX_CORE
	url = https://github.com/rubinsteina13/SV_I2S_RX_CORE.git
