[submodule "webpki"]
	path = webpki
	url = https://github.com/uglyoldbob/webpki.git
[submodule "service"]
	path = service
	url = https://github.com/uglyoldbob/service.git
[submodule "android-auto"]
	path = android-auto
	url = https://github.com/uglyoldbob/android-auto.git
